<!doctype html>
<html>
<head>
    <title>I Had a Bad Day</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Your Profile</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">


        <div class="col-sm-6">
          <h3>B*tch Board</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li data-ventID="<%= messages[i]._id %>" class="message">
              <span><%= messages[i].date %></span>
              <span><%= messages[i].vent %></span>
              <span><%= messages[i].mood %></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Vent!</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="date" min="2020-01-01" name="date">
            <input class="ventBox" type="text" placeholder="Vent" name="vent">
            <label for="moodSelect">Mood?</label>
            <select class="moodSelect" name="mood">
              <option value="default">Today's Mood</option>
              <option value="Annoyed">😤</option>
              <option value="Angry">😠</option>
              <option value="Irate">😡</option>
              <option value="Livid">🤬</option>
            </select>
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
